{% load i18n %}
<html lang="en">
    <head><title>Request - Social Media App</title><head>
    <body>
        <style>
            html, body
            {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(22,24,25);
            }
            button
            {
                border: none;
                background-color: rgb(59,121,255);
                padding: 5px;
                min-width: 150px;
                border-radius: 5px;
                color: rgb(204,211,203);
            }
        </style>
        <form id="friend_request_form" method="GET" action="{% url 'main' %}">
            <input id="friend_request_errors" type="hidden" value="{{ form.email.errors.as_text }}" name="friend_request_errors">
            <button type="submit">{% trans "Continiue" %}</button>
        </form>
        <script>friend_request_form.submit();</script>
    </body>
</html>